<div style="background-image: url('../../assets/images/edit_deductions.jpg');background-size: contain; margin-left: 100px;">
  <div class="container" >
  
    <form>
        <input style="margin-left:350px; margin-top: 295px; width:205px; position: fixed;font-size: 12px;"
         type="text" name="amount" (onchange)="onEditDeductions()" />
    </form>
    <div >{{userMessage}}</div>
  </div>
</div>


<!-- 
<div style="background-image: url('../../assets/images/Mobile.jpg');background-size: contain; margin-left: 100px;">
  <div class="container" style="margin-top:20px;">
    <img style="width: 270px;height: 470px;margin-left: 319px; margin-top:75px;" src='../../assets/images/pay2.jpg'/>
  

  </div>
</div> -->