<div style="background-image: url('../../assets/images/edit_deductions.jpg');background-size: contain; margin-left: 100px;">
  <div class="container" >
  
        <input style="margin-left:350px; margin-top: 295px; width:205px; position: fixed;font-size: 12px;"
         type="text" [(ngModel)]="deductionsAmount" (keydown.Tab)="onEditDeductions()"  />

        <p style="margin-left:340px; margin-top: 322px; width:260px; position: fixed; font-size: 9.8px;color: blue" class="blinking"> <strong>{{userMessage}}</strong> </p>
  </div>
</div>
