<div style="background-image: url('../../assets/images/Mobile.jpg');background-size: contain; margin-left: 100px;">
  <div class="container" style="margin-top:20px;">
      <img style="width: 275px;height: 200px;margin-left: 315px; margin-top:75px;" src="assets/images/Main1-1.jpg"/>
      
     <img routerLink='/pay' style="width: 250px;height: 60x;margin-left: 315px;cursor: pointer;" src="assets/images/Main1-2.jpg"/>
     <img style="width: 275px;height: 100px;margin-left: 315px;" src="assets/images/Main1-3.jpg"/>  
  </div>
  </div>
  