<div style="background-image: url('../../assets/images/Mobile.jpg');background-size: contain; margin-left: 100px;">
<div class="container" style="margin-top:20px;">
  <img style="width: 275px;height: 340px;margin-left: 315px; margin-top:75px;" src="assets/images/home1-1.jpg"/>
   <img routerLink='/deductions' style="width: 275px;height: 60x;margin-left: 315px;cursor: pointer;" src="assets/images/home1-2.jpg"/>
  <img style="width: 275px;height: 75px;margin-left: 315px;" src="assets/images/home1-3.jpg"/> 
</div>
</div>